* {
  padding: 0px;
  margin: 0px;
}
body {
  /* line-height: 2rem; */
}
.txt {
  background: linear-gradient(to right,rgb(193, 189, 189),rgb(252, 248, 137));
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  height: 150px;
  width: 100%;
  border: 2px dotted black;
  border-radius: 10px;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.txt1 {
    position: relative;
    top: 50px;
    left: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;
  border: 2px solid black;
  color: white;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}
.txt2{
    margin-top: 70px;
    margin-left: 10px;
    padding: 10px;
    height: 150px;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
}
.txt3 {
  margin-top: 1rem;
  margin-left: 1rem;
  color: black;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.1);
  border-color: black;
  border-radius: 1rem;
  border: 3px solid;
  background:linear-gradient(to right , rgb(116, 181, 231),rgb(136, 136, 247))
}
.test{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    height: 100px;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 1rem ;
    border: 2px solid black ;
    margin-top: 80px;
    float: right;
}

body {
  background: linear-gradient(to left ,red,coral);
}
